<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Products List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>COAST</th>
        <th>Link</th>
    </tr>
    <tr th:each="p : ${productsList}">
        <td th:text="${p.id}"/>
        <td th:text="${p.title}"/>
        <td th:text="${p.coast}"/>
        <td>
            <a th:href="@{http://localhost:8500/app/products/{id}(id=${p.getId()})}">Link</a>
        </td>
    </tr>
</table>
<h1 th:text="${productsList.size}"/>
</body>
</html>